@import url('https://fonts.googleapis.com/css?family=Tektur');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

.fitflow-container {
    display: flex;
}
.fitflow-heading-fit {
    font-family: 'Tektur';
    font-size: 3rem;
}
.fitflow-heading-flow {
    font-family: 'Tektur';
    font-size: 3rem;
}
.transform-heading {
    font-family: 'Montserrat';
}
.empower-heading {
    font-family: 'Nunito Sans';
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(6px);
    /* Adjust the blur value as per your preference */
    z-index: -1;
}